<a href="https://colab.research.google.com/github/HARITHA-14/DATASTRUCTURES/blob/main/Loops_P2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Problem 2:
'Write a program to calculate the sum of all even numbers from 1 to 20 using a for loop.'

In [7]:
even_sum=0
for i in range(1,21):
  if i % 2 == 0:
    even_sum += i
print(even_sum)

110

In [ ]:
#to calculate odd sum

In [8]:
odd_sum=0
for i in range(1,21):
  if i % 2 != 0:
    odd_sum += i
print(odd_sum)

100

In [ ]:
#different output at different idendation of print statement

In [ ]:
#print statement outside for loop

In [9]:
even_sum=0
for i in range(1,21):
  if i % 2 == 0:
    even_sum += i
print(even_sum)

110

In [ ]:
#print statement inside for loop

In [10]:
even_sum=0
for i in range(1,21):
  if i % 2 == 0:
    even_sum += i
  print(even_sum)

0
2
2
6
6
12
12
20
20
30
30
42
42
56
56
72
72
90
90
110

In [ ]:
#print ststement inside if condition

In [11]:
even_sum=0
for i in range(1,21):
  if i % 2 == 0:
    even_sum += i
    print(even_sum)

2
6
12
20
30
42
56
72
90
110