<a href="https://colab.research.google.com/github/HARITHA-14/DATASTRUCTURES/blob/main/patterns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
n= int(input())
for i in range(1,n+1):
  stars = i
  space = n-i
  print('*' * stars + ' ' * space)
for i in range(n-1,0,-1):
  stars = i
  space = n-i
  print('*' * stars + ' ' * space)

5
*
**
***
****
*****
****
***
**
*

In [12]:
n = int(input( ))
for i in range(0 , n+1):
  for j in range(0,i+1):
    if (i+j) % 2 == 0:
      print ('1',end =' ')
    else:
      print('0',end =' ')
  print()

5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1
0 1 0 1 0 1

In [1]:
n = int(input())
for i in range(1, n + 1):
    for j in range(i):
      if (i + j) % 2 == 0:
        print("1", end=" ")
      else:
        print("0", end=" ")
    print()

5
0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [2]:
def binary_number_triangle(N):
 """Prints an N-row binary number triangle."""

 for row in range(1, N + 1):
   # Calculate the starting value for the current row
   start = 1 if (row + 1) % 2 == 0 else 0

   # Print the binary numbers in the current row
   for col in range(1, row + 1):
     print(start, end=" ")
     start = 1 - start  # Toggle between 0 and 1 for the next number
   print()  # Move to the next line after printing each row

# Get input from the user
N = int(input("Enter the value of N: "))

# Generate and print the binary number triangle
binary_number_triangle(N)

Enter the value of N: 3
1
0 1
1 0 1

In [3]:
n = int(input())
for row in range(1, n+1):
        i=0
        if row % 2 != 0: i = 1
        for _ in range(row):
            print(i, end=" ")
            if i == 0: i+=1
            else: i-=1
        print()

5
1
0 1
1 0 1
0 1 0 1
1 0 1 0 1